version: 2
updates:
  - package-ecosystem: npm
    directory: '/'
    schedule:
      interval: daily
  - package-ecosystem: npm
    directory: '/'
    schedule:
      interval: daily
    target-branch: v5.x
