name: CI

on:
  push:
    branches:
      - main
  pull_request:

env:
  VOLTA_FEATURE_PNPM: 1

jobs:
  tests_linux:
    name: 'Tests: Node ${{ matrix.node-version }}'
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: ['18', '20', '22']

    steps:
      - uses: actions/checkout@v4
      - uses: volta-cli/action@v4
        with:
          node-version: ${{ matrix.node-version }}
      - run: pnpm install
      - run: pnpm test

  tests_ts:
    name: 'Tests: TS ${{ matrix.ts-version }}'
    runs-on: ubuntu-latest
    continue-on-error: false
    strategy:
      matrix:
        ts-version: ['5.3', '5.4', '5.5', '5.6', '5.7', 'next']

    steps:
      - uses: actions/checkout@v4
      - uses: volta-cli/action@v4
      - run: pnpm install
      - run: pnpm add --save-dev typescript@${{ matrix.ts-version }}
      - run: pnpm type-check
